@import "~bootstrap-sass/assets/stylesheets/_bootstrap-sprockets.scss";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "./sass/variables.scss";

$color: white;

body{
	background: $color;
	@media (min-width: 1200px){
		background: green;
	}
	.starter-template {
    padding: 80px 15px;
    text-align: center;
	}
}